# This file tells Git which files shouldn't be added to source control

.idea
node_modules
storage
dist

# Added by Apify CLI
.venv
.DS_Store
local-clone
# e2e harness working copies (see e2e/README.md)
e2e/.work
